@media (max-width: 980px)	{
	body	{ padding-right:0; padding-left:0; }
	
	}

/*.container-fluid		{ padding:0; min-width:300px; }
.container-fluid.fixed	{ margin:20px auto; padding:0; width:96%; border:1px solid #d4d4d4; border-radius:4px; overflow:hidden; }*/

.container-fluid		{ padding:0; min-width:300px; overflow:hidden; }

.container-fluid		{ margin:15px auto; width:98%; }
.container-fluid.exp	{ margin:0; width:100%; border:none; border-radius:0; }

a:focus					{ text-decoration:none; outline:none; }
.btn:focus				{ outline:none; }

.text-right				{ text-align:right!important; }
.text-center			{ text-align:center!important; }

label input[type=checkbox]	{ margin:-4px 2px 0 0; }
label input[type=radio]	{ margin:-4px 0 0 0; }

.table input				{ margin-bottom:0; }
.table select				{ margin-bottom:0; width:auto; }
.table label				{ font-weight:normal!important; margin:0 0 0 5px; display:inline-block; }
.table label:first-child	{ margin:0; }

.polloptiondiv input		{ margin:3px 0; }
.table th				{ color:#000; font-size:12px; font-weight:300; text-align:center; vertical-align:middle!important; }

.alert p					{ margin-bottom:0; }

.progress				{ margin:0; }

.btn-group				{ margin-bottom:15px; }
	td .btn-group		{ margin-bottom:0; }
	.btn-xs				{  }

.icon-li				{ margin-right:5px; }

ul.pagination			{ margin:0 0 15px; }