// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic-ext);
@import "variables.less";

/* 1. Elements
-------------------------------------------------- */

body														{ color: @maincolor; font-family: @mainfont; font-size: .8125rem; min-height: 100%; background: @mainback; }
input, button, select, textarea	{ font-family: @mainfont; font-size: .8125rem!important; }

a		{ text-decoration: none; }

hr	{ margin: 0; height: 0; border: 0; }

i.icon		{ display: inline-block; }

/* 2. Structure
-------------------------------------------------- */

div#preloader						{ background: @white; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; }

div.container-fluid			{ padding: 0; }
div.container-fluid.exp	{ padding: 1rem; }
div.container-fluid.exp div#wrapper	{ background: none; }

#wrapper								{ background: #f5f5f5; }

div#topbar									{  }
	div#topbar > div					{ padding: .5rem 0; background: #495b79; border-bottom: 1px solid #d1d1d1; }

	div#topbar ul li					{ margin: 0 .5rem 0 0; display: block; float: left; .last0; }
	div#topbar ul li a				{ color: fade(@white, 76%); font-size: .65625rem; padding: .375rem .5rem; background: #5c7399; border-color: #3f4f69; display: block; }
	div#topbar ul li a:hover	{ color: @white; }
	div#topbar ul li a span		{ margin-left: .375rem; }

	ul#layout									{ display: none; }
	ul#desktops								{  }
	div#topbar ul#settings li a					{ padding: .375rem 1rem; }
	div#topbar ul#settings li a span		{ display: none; }

#sidebar								{ display: none; }
#sidebar div.block		{ margin: 0 .625rem .75rem; background: @white; /*border: 1px solid #ccd6de;*/ .sbb; }

	a#logo								{ color: @grey; font-size: .875rem; text-shadow: 0 1px 0 @white; line-height: 2.25rem; }
	a#logo i							{ font-size: 1.375rem; margin-right: .375rem; vertical-align: -3px; }

	div#profile										{ padding: .3125rem .625rem .5rem; border-radius: 12px; }
		div#profile > p:first-child	{ .cut; }
		div#profile figure					{ max-width: 8rem; border: 3px solid fade(@grey, 25%); display: inline-block; }
		div#profile div.user-icon		{ font-size: 4rem; line-height: 6rem; text-align: center; width: ~'calc(6rem + 6px)'; border: 3px solid fade(@grey, 25%); }

		div#profile ul.user_buttons > li						{ margin: 0 4px 0 0; .last0; }
		div#profile ul.user_buttons > li > a				{ color: @grey; font-size: .875rem; background: @light; .cut; .trans; }
		div#profile ul.user_buttons > li > a:hover	{ background: @light - #111; }
		div#profile ul.user_buttons > li > a > i		{ min-width: 1.5rem; }
		div#profile ul.user_buttons > li > i				{ margin: 3px 3px 0 0; }

		div#profile ul.user_info										{ cursor: default; font-size: .6875rem; padding: .25rem 0; background: @light; }

	#menu																							{ margin: .75rem 0; }
		#menu .accordion-item														{  }
		#menu .accordion-button													{ color: #495b79; font-size: .75rem; background: #dadee1; border-bottom: 1px solid #bbc5cd; cursor: pointer; }
		#menu .accordion-item:first-child .accordion-button		{ border-top: 1px solid #bbc5cd; }
		#menu .accordion-button:not(.collapsed):after		{ background-image: none; }
		#menu .accordion-button:after										{ content: '\f077'; font-family: @fa; font-size: .625rem; text-align: center; background-image: none; }
		#menu .accordion-body														{ padding: 0; }

		#menu ul									{  }
		#menu ul > li			 				{ font-size: .6875rem; padding: .375rem .375rem .375rem .875rem; border-bottom: 1px solid #d8e0e6; }
		#menu ul > li > i	 				{ margin-right: .375rem; }
		#menu ul > li > a	 				{ color: @grey; font-weight: 600; text-transform: uppercase; }
		#menu ul > li > a:hover		{ text-decoration: underline; }

	.miniwidget									{ padding: .5rem .625rem; border-radius: .5rem; }
	.miniwidget ul							{ font-size: .6875rem; font-weight: 100; text-shadow: 0 1px 0 @white; }
	.miniwidget ul li						{ padding: .1875rem 0; border-bottom: 1px dotted #ccc; overflow: hidden; }
	.miniwidget ul li a,
	.miniwidget ul li span			{ display: block; float: right; }

div#content					{  }

	div#breadcrumbs		{ font-size: .6875rem; line-height: 2.25rem; height: 2.25rem; background: @white; border-bottom: 1px solid #ccd6de; }
	div#breadcrumbs a	{ color: @grey; font-weight: 600; display: inline-block; }

	select#selectmenu						{  }
	nav#navigation > div.row		{ display: none; }

	div#content div.block					{ margin: 0 0 1.25rem; background: @white; border: 1px solid #c1c1c1; border-radius: @block_border_radius; overflow: hidden; }
	div#content div.block > h2		{ font-size: .875rem; font-weight: 700; line-height: 20px; padding: .625rem 1rem; background-color: #f4f4f4; background-image: linear-gradient(to bottom, #f8f8f8, #dcdcdc); border-bottom: 1px solid #c1c1c1; box-shadow: 0 1px 0 0 #f7f7f7, 0 5px 4px -4px #d8d8d8; }
	div#content div.block > h2 i	{ margin-right: .375rem; }
	div#content div.block div.wrapper																	{ padding: 1rem; }
	div#content div.block div.wrapper div[class^='table-responsive']	{ padding-bottom: .5rem; }
	div#content div.block div.wrapper table														{ margin-bottom: 0; }
	div#content div.block div.wrapper table th												{ font-weight: 700; .centerall; }
	div#content div.block div.wrapper table tr.text-center td					{ vertical-align: middle; }

	div#content div.block div.wrapper div.btn-group .btn			{ white-space: nowrap; }
	div#content div.block div.wrapper td.action .btn					{ font-size: .8125rem; }
	div#content div.block div.wrapper td.action .btn i				{ margin-right: 0; }
	div#content div.block div.wrapper td.action .btn span			{ display: none; }
	div#content div.block div.wrapper .btn i									{ margin-right: .375rem; }

	div#content div.block div.wrapper div.progress						{ height: 1.1875rem; }

	div#message-body							{  }
		div#message-body > ul > li	{ margin-right: 1rem; width: ~'calc((100% - 1rem) / 2)'; .last0; }

/* 3. Headings
-------------------------------------------------- */

h1					{ color: #575655; font-family: @mainfont; font-size: 1.6875rem; font-weight: 400; }
h2					{ font-family: @mainfont; margin: 0; }
h4					{ font-family: @mainfont; font-size: 1rem; font-weight: 600; text-transform: uppercase; margin: 0; }
h6					{ font-family: @mainfont; font-size: 13px; margin: 0 0 .625rem; }

.title			{ display:block; }
.subtitle		{ display:block; }

	td.title				{ display: table-cell; }
	td.title > img	{ margin-left: .25rem; float: left; }

/* 4. Extra widths
-------------------------------------------------- */

.w-5 { width: 5%!important; }
.w-10 { width: 10%!important; }
.w-15 { width: 15%!important; }
.w-20 { width: 20%!important; }
.w-30 { width: 30%!important; }
.w-35 { width: 35%!important; }
.w-40 { width: 40%!important; }
.w-45 { width: 45%!important; }
.w-55 { width: 55%!important; }
.w-60 { width: 60%!important; }
.w-65 { width: 65%!important; }
.w-70 { width: 70%!important; }
.w-80 { width: 80%!important; }
.w-85 { width: 85%!important; }
.w-90 { width: 90%!important; }

/* 98. Misc
-------------------------------------------------- */

div.alert					{  }
	.alert h4				{ font-size: 1rem; }
	.alert h4 + ul	{ margin: 0; list-style: none; }
	.alert p				{ margin: 0; }
	.alert a				{ font-weight: 700; text-decoration: underline; }
	.alert a.close	{ text-decoration: none; position: absolute; right: 2rem; }

.clearfix													{ *zoom: 1; }
.clearfix:before, .clearfix:after	{ display: table; line-height: 0; content: ''; }
.clearfix:after										{ clear: both; }

.odd							{ background: @odd; }

.text-cut					{ .cut; }
.text-truncate		{ .truncate; }

.smaller		{ font-size: .8125rem; }

/* 99. Extra Plugins
-------------------------------------------------- */

table.adminboard img	{ height: 1.5rem; }
tr.weekend td					{ color: rgb(220,53,69)!important; font-weight: 500; }
div.in0 > *						{ margin-bottom: 0; }
